main .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .top input {
    padding: .5em 3em .5em 1em;
    border: 1px solid #66ABD4;
    border-radius: 16px;
    font-size: 1rem;
    outline: none;
}

.input-icon {
    position: relative;
}

.input-icon svg {
    position: absolute;
    top: .4em;
    right: 1em;
    cursor: pointer;
}

@media screen and (max-width: 470px) {

    main .top h1 {
        text-align: center;
    }
}